<!DOCTYPE html>
<html>
<head>
 <% include partials/head %>
</head>
<body>
<% include partials/menu %><div class="container-fluid bg-3 text-center">
  <h3><%= page %></h3><br>
  <div class="row">

<h3>안녕하신가 나는 컴생원이라네 🐰 <br>원하는 스타일을 말씀해 주시게나~~ 얼쑤~<br><br></h3>


<div class="col-sm-1"></div>
<div class="col-sm-4">나:<br><br><br></div>
<div class="col-sm-6"></div>
<div class="col-sm-12"></div>

    <div class="col-sm-3"></div>

    <div class="col-sm-4" align = "left">
      <p>제는</p>
      <form action="/test" method="post">
        <input type="checkbox" name="je[0]"> 전남제 <br>
        <input type="checkbox" name="je[1]"> 충청제 <br>
        <input type="checkbox" name="je[2]"> 전북제 <br>
        <input type="checkbox" class="hidden"><br><br>
      <!--
      100 전남제 010 충청제 001 전북제
      110 전남+충청 101 전남+전북 011 충청+전북
      111 전남+충청+전북
     -->
    </div>

    <div class="col-sm-4" align = "left">
      <p>이런</p>
        <input type="radio" name="mori" value="yang"> 진양 <br>
        <input type="radio" name="mori" value="jung"> 중모리 <br>
        <input type="radio" name="mori" value="jungjung"> 중중모리 <br>
        <input type="radio" name="mori" value="jajin"> 자진모리 <br><br>
    </div>

    <div class="col-sm-1"></div>

    <div class="col-sm-3"></div>
    <div class="col-sm-4" align = "left">  <p>로 할 것이라네,</p> </div>
    <div class="col-sm-4" align = "left">  <p>장단을 사용했으면 하고</p><br><br> </div>
    <div class="col-sm-1"></div>

    <div class = "col-sm-12"><br></div>

    <div class="col-sm-3"></div>

    <div class="col-sm-4" align = "left">
      <p>선율은</p>
        <input type="radio" name="type" value="a"> 도입선율 (opening) <br>
        <input type="radio" name="type" value="b"> 긴장선율 (suspense) <br>
        <input type="radio" name="type" value="c"> 극적선율 (highlight) <br>
        <input type="radio" name="type" value="d"> 이완선율 (ending) <br>
        <!-- <input type="radio" name="type" value="e"> 연결선율 (joint) <br> -->
    </div>

    <div class="col-sm-4" align = "left">
      <p>조는</p>
        <input type="radio" name="jo" value="gye"> 계면조 <br>
        <input type="radio" name="jo" value="pyung"> 평조 <br>
        <input type="checkbox" class="hidden"><br>
        <input type="checkbox" class="hidden"><br>
    </div>

    <div class="col-sm-1"></div>

    <div class = "col-sm-12"><br></div>
    <div class="col-sm-3"></div>
    <div class="col-sm-4" align = "left"> <p>이런 느낌을 생각하고 있으며</p> </div>
    <div class="col-sm-4" align = "left"> <p>를 원한 다네~~</p> </div>
    <div class="col-sm-1"></div>

<div class = "col-sm-12"><br>

    <p><br><input type="submit" value="지화자~ 좋다~"></input></p>
      </form>
    </div>
    </div>
</div></body>
<% include partials/script %>
</html>
