<!doctype html>
<html>
<head>
<script type='text/javascript' src='//www.midijs.net/lib/midi.js'></script>
</head>

<body>
<script>
  console.log( MIDIjs.get_audio_status());
</script>
  <div style="border:1px solid #ccc; margin-bottom:12px; background:#f7f7f7;">
    <div id="play-bar" style="height:20px;background:#33C3F0;width:0%;"></div>
  </div>
  <p>
    <button class="button" onclick="MIDIjs.play('./public/dang_a_1_gye.mid')">Play</button>
    <button class="button" onclick="MIDIjs.stop()">Stop</button>
    <a href="https://github.com/Jade570/midifiles/raw/master/sangun/gye/dang_a_10_gye.mid">
    Download File
    </a>
  </p>

</body>



</html>
