<!doctype html>
<html>

<body>
  <h1> server working </h1>
  <p> just put your html,css, js files here and it work on your own local nodejs server </p>
  <p id="demo" onclick="myFunction()">Click me.</p>
  <p id="play-button" onclick="play()">Play</p>
</body>


<script src="../public/javascripts/MIDI.js" type="text/html"></script>
<script src="https://cdn.jsdelivr.net/npm/midi-player-js@2.0.5/browser/midiplayer.min.js"></script>
<script>
  //import * as Player from "midi-player-js";
  //var Player = <%- JSON.stringify(Player) %>;

  var Player = new MidiPlayer.Player(function(event) {
  });

  Player.loadFile('/home/jade570/midifiles/sangun/gye/dang_a_1_gye.mid');
  Player.play();


  document.getElementById("play-button").addEventListener("click", play);

  function play() {
    console.log(Player);
  	document.getElementById("play-button").innerHTML = "Pause";
    Player.play();
  }

  function pause() {

    document.getElementById("play-button").innerHTML = "Play";
  }


</script>

</html>
